[2014-11-24 16:14] andresnijder opened #2 "PHP Fatal error: Unsupported operand types in vendor/robbiep/cloudconvert-laravel/src/RobbieP/CloudConvertLaravel/HttpClientAdapter.php on line 31"
occurs:
CloudConvert::file($path)
->callback(url() . '/api/notifications/convert/videos')
->to('ogg');

[2014-11-24 16:16] robbiepaul commented on #2
Can you provide the contents of $path?

[2014-11-24 16:19] andresnijder commented on #2
$path = 'http://cdn.vellance.com/superhero/site/content/uploads/project/small_54735848bc3f8.mp4';

[2014-11-24 16:26] robbiepaul commented on #2
What version of php are you using?

Also the syntax for using callbacks should be:

[code]

Because `to()` attempts to save the file when it isn't ready. The save function should be called in the callback script.

Hope that helps

[2014-11-24 16:38] andresnijder commented on #2
I'm using PHP 5.5.14-1~dotdeb.1
I get the same error when i use 'convert'.

[2014-11-24 17:26] robbiepaul commented on #2
I've applied a fix in the latest update: 3a275f854f3297d2b32547de81648c172e391302
Try a `composer update robbiep/cloudconvert-laravel`

[2014-11-24 19:59] andresnijder commented on #2
thanks! This works!

[2014-11-24 19:59] #2 closed, assigned to nobody

[2014-12-16 02:03] paulofreitas opened #3 "Ability to track the conversion process progress while converting"
Hello,

I read the README and did a briefly code inspection and I did not noticed any way to start a conversion process and instantly return the `Process` instance to be able to further inspect the conversion progress while conversion is in progress. Is this feature currently supported? If not, is there any chance to implement that? :)

Thank you for your time.

[2014-12-16 19:48] robbiepaul commented on #3
Yea sure. I'll have a look at implementing it this weekend

[2015-01-30 22:17] peter-mw opened #4 "This is nice fantastic!! bombastic wrapper!!!"

[2015-01-30 22:17] peter-mw commented on #4
I just wanted to say than you!

[2015-01-30 22:17] #4 closed, assigned to nobody

[2015-04-08 16:32] natsu90 opened #5 "Your requirements could not be resolved to an installable set of packages."
I have a freshly installed Laravel 5. Installing "robbiep/cloudconvert-laravel": "~2.0" give me the following error, `Your requirements could not be resolved to an installable set of packages.`

[2015-04-16 13:41] spdaly commented on #5
Same here... Any update on the problem?

[2015-04-16 18:50] robbiepaul commented on #5
I'll have a look at it asap.
Laravel 5 was still in beta when I released this package, my guess is it's something straight forward

[2015-04-17 16:19] spdaly commented on #5
I hope so... I'm trying to get it to work in an L5 app and I'm having issues trying to convert an uploaded file.  It looks like the input file gets lost as it goes through the process steps.  The CC dashboard says that there is an error uploading the file.  Debugging shows that the $file is null/empty when the upload is attempted.

[2015-04-20 15:41] spdaly opened #6 "Cannot convert file upload..."
I'm not having any luck converting an uploaded Powerpoint file to PDF.  I'm using L5.  The uploaded file doesn't have an extension so CC returns a cannot convert this format error message.  I have made several changes to the library code with no luck.  Now I'm running in circles...

Any help???

[2015-04-20 17:36] robbiepaul commented on #6
Hi. I've updated the package to be compatible with Laravel 5. See 5b9489359745a2c9f0b205937cf21cf0d7aa9913

Update your composer.json to version 2.1

[2015-04-20 17:36] #6 closed, assigned to nobody

[2015-04-20 17:36] robbiepaul commented on #5
Hi. I've updated the package to be compatible with Laravel 5. See 5b9489359745a2c9f0b205937cf21cf0d7aa9913

Update your composer.json to version 2.1

[2015-04-20 17:36] #5 closed, assigned to nobody

[2015-04-20 17:56] spdaly commented on #6
Composer cannot find the 2.1 tag.

[2015-04-20 18:00] robbiepaul commented on #6
Apologies, I forgot to push up the tags. Should work now

[2015-04-20 18:04] robbiepaul commented on #6
Also use "2.*" instead of "2.1"

[2015-06-10 18:20] tylerodonnell opened #7 "Laravel 5.1 Support"
Hi.

I'm trying to install this package to a Laravel 5.1 project. Unfortunately, Composer refuses to install the package.

[code]

I think it may be as simple as bumping your `"illuminate/filesystem": "5.0.*@dev"` line in composer.

Thanks!

[2015-07-10 14:37] rgozdzialski opened #8 "Installing the package in Laravel 5.1.6 not possible"
**CASE 1**

I'm running Laravel 5.1.6. I follow the install instructions for Laravel 5+ from the GitHub project. After the **"robbiep/cloudconvert-laravel": "2.*"** dependency is added to **composer.json**, I run `composer update` and I get the following error: http://i.imgur.com/zhU3WXU.jpg.

Basically, it claims that the **BroadcastServiceProvider** is missing, which is actually correct. The pro

[2015-07-10 15:10] robbiepaul commented on #8
I haven't had a chance yet but I'll work on 5.1 support this weekend

[2015-07-10 15:12] rgozdzialski commented on #8
Thanks for quick reply and good luck.

[2015-08-04 17:32] IanCaunce opened #9 "Conversion fails when using Laravel's file upload"
Hi,

When attempting to convert a file by passing the file upload object `Symfony\Component\HttpFoundation\File\UploadedFile`, the conversion fails with bad request.

I did some digging into it, and it seems there are multiple issues. Firstly, in the `ConvertLocalFile` class if its an instance of `UploadedFile` you run `$this->setFile($file->getFilename());`. This only gives the filename and not t

[2015-08-05 12:40] IanCaunce commented on #7
+1
Been testing it in Laravel 5.1 and it seems to be working smooth. The only addition would be to the documentation detailing how you declare providers in `app.php`.

It has changed from:

[code]

To:

[code]

But thats syntactical and both work fine.

[2015-08-05 12:47] #9 closed, assigned to nobody

[2015-08-05 16:35] vinicius73 commented on #8
any news?

[2015-08-07 15:38] IanCaunce opened #12 "Cannot save to S3 as part of a callback."
I have been trying in vein to say a file to S3 as part of a callback.

The code I have tried is:

[code]

No errors are thrown. It simply doesn't upload the file. Is this something which is supported?

As a temporary workaround I use the following code:

[code]

Thanks, Ian

[2015-08-07 16:16] robbiepaul commented on #12
Hi Ian,

Saving to S3 storage is a feature of the official API (https://cloudconvert.com/apidoc#s3) as such needs to be defined when the process begins. CloudConvert will automatically save the file to your bucket when the process is complete.

I haven't had a chance to test it yet but this should work:

[code]

[2015-08-09 16:14] #12 closed, assigned to nobody

[2015-08-11 16:33] IanCaunce commented on #12
I misinterpretation its functionality. Thanks for the reply.

[2015-09-29 08:02] pierrepavlov opened #13 "Authentication issues"
Hi,

I've installed this components using composer on Laravel 5 but I can't get it to work.
All I get for every request is "No API key provided." even though I've set them in config/cloudconvert.php.

I've tried re-installing multiple times but always end up with the same results.

Any ideas?

[2015-10-01 10:57] #8 closed, assigned to nobody

[2015-10-01 10:57] #7 closed, assigned to nobody

[2015-10-01 11:00] robbiepaul commented on #13
Strange, I haven't come across anyone with this issue before. Have you tried manually setting the key as a temporary solution?

[code]

Just put that before you start the conversion process, let me know if it works.

[2015-10-03 08:59] pierrepavlov commented on #13
Yeah, I ended up setting it manually for now and that worked. No idea why I can't use the configuration file though.

[2015-10-19 08:46] Sheby opened #14 "laravel 5.1.20 (LTS) composer won't install"
"Your requirements could not be resolved to an installable set of packages."

I see this has been  a poblem before, can you update the code please?

[2015-10-19 10:52] robbiepaul commented on #14
The issue before was resolved.

I just installed the package successfully on a blank Laravel 5.1.20 project.

Check you have `"robbiep/cloudconvert-laravel": "2.*"` or maybe one of your other packages are conflicting somehow?

[2015-10-19 11:56] Sheby commented on #14
A plugin for Socialite is requiring a different version of guzzlehttp/guzzle, removed it and then this plugin installs, but i need both of them, is there any way to resolve this?

And thanks alot for a promt reply

Update: socialatie plugin uses guzzle 6 and yours 5, any way to  resolve this?
Update2: required older version of conflicted plugin, works fine now, thanks for help!

[2015-10-19 12:15] robbiepaul commented on #14
Glad you got to the bottom of it. No problem!

[2015-10-19 12:25] robbiepaul commented on #13
I just tested this on a fresh installation of Laravel 5.1, it's working exactly as expected. Providing the API key in `config/cloudconvert.php` works.

My advice would be to double check the documentation

[2015-10-19 12:25] #13 closed, assigned to nobody

[2015-12-19 16:45] janmikusch opened #15 "Issues with density (Laravel 4.2)"
Hey, i have some issues when I'm converting my files. The Image-Files are resizing correctly, but the density won't change to 72.

Here is my code.
`CloudConvert::file('upload/'.$filename)->withOptions([
                    'resize' => $newWidth.'x'.$newHeight,
                    'density' => '72'
                ])->to('files/img/'.$fn.'.jpg');`

I'm using Laravel 4.2

[2015-12-19 21:51] robbiepaul commented on #15
Have you tried the same with but with the API Console? Just to make sure it's not an API issue.

https://cloudconvert.com/apiconsole

(take note of the converteroptions)

[2015-12-20 11:13] janmikusch commented on #15
I did it with the API Console. Same result.
`$api->convert([
    "input" => "upload",
    "inputformat" => "jpg",
    "outputformat" => "jpg",
    "converteroptions" => [
        "resize" => "720x480",
        "density" => "72",
    ],
    "file" => fopen('input.jpg', 'r'),
])
->wait()
->download();`

The density won't change.

[2015-12-20 13:23] josiasmontag commented on #15
Hi, it seems to be an API issue and it is not related to the Laravel wrapper. Could you please quickly send your input.jpg to support@cloudconvert.com for further testing. Thanks.

[2015-12-20 17:00] robbiepaul commented on #15
Many thanks @josiasmontag

[2015-12-20 17:00] #15 closed, assigned to nobody

[2016-01-08 15:58] IanCaunce opened #16 "Singleton prevents multiple conversions."
I have noticed that inside your service provider you run

[code]

which means that each time I call a method via the facade the same instance of `RobbieP\CloudConvertLaravel\CloudConvert` is given back.

On line 308 of CloudConvert.php you check to see if the resource is empty before setting it and if not you don't set the resource again. This means that you can only ever upload and convert one fi

[2016-01-08 17:13] robbiepaul commented on #16
Thanks again Ian,

I've added a reset function to clear those vars.

See commit ba0b59a8eafdbb8bb6b767b6986b8df1d29d382b

I've ran a couple of quick tests and it's working as expected. Let me know if you notice anything different.

Robbie

[2016-01-08 17:13] #16 closed, assigned to nobody

[2016-01-10 13:59] robbiepaul commented on #3
Just realised this is still open after a year. I think it's possible with the current release.

I'm thinking something like this:

[code]

Then when you're happy to download/save the finished file just do:

[code]

It's untested but should work fine.

[2016-01-10 13:59] #3 closed, assigned to nobody

[2016-01-11 12:52] IanCaunce commented on #16
Hi,

Thanks for the patch but unfortunately it doesn't fix the issue when your using non blocking logic. Calling `convert` on the `CloudConvert` instance doesn't call the reset method. Manually calling reset also doesn't work because the process isn't finished.

[2016-01-11 15:01] robbiepaul commented on #16
I've added a method to create a new instance. For example

[code]

Hope that works for your use case.

See a9a14d70fa21f1b9008d41b95c550bbf2179d24e

[2016-01-11 15:25] IanCaunce commented on #16
Everything seems to be working fine now. Thanks again for fixing it.

[2016-01-17 01:59] edbentinck commented on #14
I just ran into the same issue. Any chance of updating the package for guzzle 6? I tried but it's a bit beyond me :disappointed:

[2016-01-17 15:54] robbiepaul commented on #14
@edbentinck I've updated the `composer.json` to accept both Guzzle ~5.0 and ~6.0.

I haven't tested it yet though as I haven't used a package that depends on Guzzle 6.0.

Can you `composer [update/require] robbiep/cloudconvert-laravel` and let me know if it fixes your problem?

[2016-01-17 18:41] edbentinck commented on #14
Thanks for your swift response, @robbiepaul. Unfortunately Guzzle 6 has many breaking changes from Guzzle 5, [as mentioned here](https://github.com/guzzle/guzzle/blob/master/UPGRADING.md), so your package errors out in a few places.

I was able to fix some of the errors manually, but some others I wasn't. I'll try again and let you know how I get on. As far as I can tell it should only be the Http

[2016-01-17 19:28] robbiepaul commented on #14
Wow you're right, many breaking changes! Out of curiosity which package that you're using requires Guzzle 6?

I'll rewrite `HttpClientAdapter` just as soon as I get time or feel free to submit a pull request

[2016-01-17 21:37] edbentinck commented on #14
I had Guzzle 6 installed for [this package](https://github.com/maknz/slack). It seems that they actually support various versions of Guzzle, which I hadn't realised before. I've just downgraded my version of Guzzle to be able to use your package which now works (it's great, by the way!). Hopefully it won't have caused any side effects.

If I get the time I will continue to try and refactor your pa

[2016-01-18 01:09] robbiepaul commented on #14
I'm glad you got it working. I'm going to write an adapter for Guzzle 6 anyway, as I'm sure people will be moving across soon

[2016-01-18 01:09] #14 closed, assigned to nobody

[2016-01-18 17:47] robbiepaul commented on #14
I've written another implementation of `HttpClientInterface` for Guzzle 6 and added some version checking in the `HttpClient`.

It's working perfectly for both Guzzle 5 and Guzzle 6.

[2016-01-18 17:55] edbentinck commented on #14
Awesome! Thanks @robbiepaul

[2016-01-29 14:54] gpmcadamold opened #19 "Can't pass converter options, results in a Guzzle exception"
When passing converter options as an array in the following way, Guzzle throws an exception.

[code]

The exception is:

And it's occurring in `at GuzzleHttp\Psr7\stream_for(array('resize' => '4000')) in MultipartStream.php line 87`

Could it be related to this? https://github.com/guzzle/guzzle/issues/1079

Can you confirm that passing options as an array is still supported?

[2016-01-29 15:35] robbiepaul commented on #19
I can't confirm, I haven't had a chance to look in to it, Guzzle 6 support was only added a week ago. If you can get away with using Guzzle 5 then do that. I'll have a look in to the issue further when I get a chance

[2016-01-29 17:01] robbiepaul commented on #19
It was quite an easy one to fix. Just run `composer update robbiep/cloudconvert-laravel`

Just in case anyone else runs in to the same problem here was my fix:

If you upload a file with Guzzle 6 you have to send via `['multipart' => $mutlipartArray]`

`$mutlipartArray` consists of an array of `['name' => 'fieldname', 'contents' => $contents]` where `$contents` has to be one of: `StreamInterface /

[2016-01-29 17:01] #19 closed, assigned to nobody

[2016-02-20 14:32] bachras opened #20 "Cannot save on Amazon S3"
Hi, I am trying to convert file from input and save it on S3.

`CloudConvert::file($file)->to(CloudConvert::S3('hello.mp4'));`

For some reason it treats s3 as an output format and gives me an error:

`{"error":"This conversiontype is not supported!","code":400}`

`Client->request('post', 'https://api.cloudconvert.com/process', array('json' => array('inputformat' => 'mp4', 'outputformat' => 's3',

[2016-02-20 15:58] robbiepaul commented on #20
What's the value of `$file`? Can you check what version of Guzzle you're using?
I only recently wrote the Guzzle 6 Adapter and it has some issues I'm working through

[2016-02-21 19:13] robbiepaul commented on #20
I've pushed a new release with a fix for this b126972e9b01940ccf19dd1bd3f6183a7bbf4d24
Just run `composer update robbiep/cloudconvert-laravel`

Please let me know if it fixes your issue

[2016-02-22 08:41] bachras commented on #20
Thank you for quick reply and appreciate your help. Initial issue has been fixed in new release but now I have different error with guzzle.

`InvalidArgumentException in functions.php line 113: Invalid resource type: array`

`in functions.php line 113`
`at GuzzleHttp\Psr7\stream_for(array('accesskeyid' => 'accesskeyid', 'bucket' => 'inlinx-01', 'path' => 'hello.mp4', 'acl' => 'public-read', 'regio

[2016-02-22 15:18] robbiepaul commented on #20
Thanks for the report. I'd recommend using Guzzle 5 until I can get a fix out for my Guzzle 6 adapter.

[2016-02-22 17:26] robbiepaul commented on #20
@bachras I've updated the Guzzle 6 Adapter. Will you run another update on my package and let me know if it's fixed your issue? Thanks

[2016-02-23 08:53] bachras commented on #20
Thanks for prompt response. I have updated the package and no I can upload on Amazon S3 but there is one issue left. Once I sent a POST request to convert and upload a file and don't get  a response with status 200 even the file is successfully uploaded. After some time I get 500 error:

`The FastCGI process exceeded configured activity timeout`

I have checked with smaller 1MB video files as well

[2016-02-26 18:00] bachras commented on #20
@robbiepaul I just wanted to check if have you had time to look into the above issue as I could not resolve it myself.
Many thanks.

[2016-02-27 15:33] robbiepaul commented on #20
I haven't had a chance to look in to it yet.

Does it only timeout when you choose S3 as an output? What about saving to disk?

[2016-02-29 08:52] bachras commented on #20
Yes it only timeouts with S3 output. Save on disk works properly. I also tried to convert file on disk and save on S3 but I had a same problem. The file is saved within 20 seconds and timeout error comes after another minute.It seems that problem only comes using S3 option. I would be grateful if you could look into my issue when you will have some spare time as I would like to get a paid account

[2016-03-01 00:47] robbiepaul commented on #20
Yeah I should have a chance soon. I just need to dig out my S3 keys

[2016-03-03 20:31] robbiepaul commented on #20
I've issued a fix and Amazon S3 seems to be working for me now. See 10cf8ad8d2a535eee6014eef76ad54ec09b48ca6

Can you run `composer update robbiep/cloudconvert-laravel` and let me know if it fixes your issue as well?

[2016-03-04 11:17] bachras commented on #20
Thank you very much. My issue is fixed. Now I am trying to use 'Non-blocking conversion using a callback URL', I followed the instructions but my file is not saved. Process is create, I can check the url but file is not saved. Maybe I am doing something wrong, could your check this at your convenience? If it is working for you, could you guide me through the process.
Thanks again for fixing the is

[2016-03-04 12:36] robbiepaul commented on #20
Yeah I know the callback URL is working for other people. If you create a new issue with the exact code you're using, I'll try and help

[2016-03-04 12:36] #20 closed, assigned to nobody

[2016-03-04 13:51] bachras opened #21 "Non-blocking conversion using a callback URL not saving on S3"
I am trying to use non-blocking conversion, but it does not seem to work for me. Could you help me? Here is the code I am using:

[code]

[code]

I have checked that process is created and I am able to download the file via the download url from cloudconvert server, but is not saving on S3.

Thanks for your help in advance.

[2016-03-04 14:05] robbiepaul commented on #21
@bachras Please check out this closed issue: https://github.com/robbiepaul/cloudconvert-laravel/issues/12

The S3 uploading is handled by CloudConvert, therefore needs to be configured before the conversion process starts. The callback will simply be a notification that the process is complete

[2016-03-04 14:22] bachras commented on #21
Thanks for prompt response. I have read that closed issue and I am a bit confused. As far as I understand callback is not required when file is saved on S3? Is that right?
I will try to use this code other day as I already reached my limit on testing. Is it right?

[code]

How I will be notified that file is saved on S3?

Thanks again.

[2016-03-04 14:34] robbiepaul commented on #21
You're right callback is not required for saving to S3.

However if you want to be notified when the process is complete and CloudConvert has uploaded the file to your S3 bucket then include a callback URL. So in your case it would be something like

[code]

and in your callback URL

[code]

[2016-03-04 15:34] bachras commented on #21
File saving works perfectly fine now, but callback URL is not requested. For testing purposes I am trying to insert entry into database and it is not happening.

Could you advise me on this please?
Thanks

[2016-03-04 15:50] robbiepaul commented on #21
Have you got a route set up correctly?

Does a database entry get inserted when you manually visit `https://mywebsite.com/feed/completeVideoConversion?url=testing` ?

[2016-03-04 16:02] bachras commented on #21
Route is set up correctly as I already tried to visit same URL before via browser and it was inserting properly and getting parameters from URL. Do you know want could be wrong? Did you try youself? Does it work for you?

Thanks

[2016-03-04 16:27] robbiepaul commented on #21
Please run another update and see if it fixes your issue

[2016-03-04 16:39] bachras commented on #21
It is working now. Thank you for your help, I really appreciate that.

[2016-03-04 16:39] #21 closed, assigned to nobody

[2016-03-04 16:40] robbiepaul commented on #21
No problem, thanks for reporting it

[2016-03-09 15:43] bachras opened #22 "Retrieve callback reponse to client-side"
Hi, I understand this is not completely related to this API but I would like to ask for your help. Is there any way to pass parameters from callback function to client size and notify the user when conversion is completed?

I would really appreciate any help.
Thanks.

[2016-03-10 14:03] robbiepaul commented on #22
It's dependent on your own business logic really, it's hard to give a concrete example.

My approach would be to create a database entry for the conversion (associated with the user) when it starts, then update the entry when the conversion is complete (via callback). Then notify the client using an event listener and websockets, probably with [Pusher](https://pusher.com/). There's a free lesson o

[2016-03-10 14:23] bachras commented on #22
Thank you for your reply. I will watch the lesson and try to implement what you suggested as I was thinking something along those lines.

I have another question about cloudconvert video conversion. Is there any way to convert video from aspect ratio 9:16 to 16:9?  Or any another solution?
I am trying to achieve something like Facebook which adds black background on both sides for portrait video f

[2016-03-10 16:54] robbiepaul commented on #22
To be honest I'm not sure, I haven't converted many videos using CloudConvert. Have you tried changing the converteroptions? You can test them out on the API console here: https://cloudconvert.com/api/console

I know you can pass a custom FFMPEG command through to CloudConvert, so maybe that's the best way to go? You can use placeholders for the input/output file eg:

[code]

See the [FFMPEG Docum

[2016-03-11 08:14] bachras commented on #22
Sorry for inconvenience, I do understand that you don't work for CloudConvert. I just thought you might know a solution to my problem as you have been very kind and helpful previously.
I will try use command and I hope it solves the problem.
Thank you once again.

[2016-03-11 08:14] #22 closed, assigned to nobody

[2016-03-13 14:43] robbiepaul commented on #22
Happy to help!

[2016-03-17 08:56] bachras opened #23 "How to retrieve callback parameters"
I am using callback function and I want to notify the user when conversion is finished. How to retrieve the process id which is finished with callback? Will multiple conversions will work at the same time?
Thank you in advance.

[2016-03-17 11:29] robbiepaul commented on #23
You can get the `id` like this

[code]

Yes it should work with multiple conversions at the same time

[2016-03-17 12:06] bachras commented on #23
Now I get this error:
`Fatal error: Cannot access private property RobbieP\CloudConvertLaravel\Process::$id`

Do you have any ideas?

[2016-03-17 12:19] robbiepaul commented on #23
Yea, just `composer update robbiep/cloudconvert-laravel` should work now

[2016-03-17 12:41] bachras commented on #23
It is working now. Thanks for fixing it.

[2016-03-17 12:41] #23 closed, assigned to nobody

[2016-03-26 08:08] Bribin opened #24 "How i can create a call back request."
Im using this package in my laravel project. how i can create a callback request from laravel

[2016-03-28 00:20] robbiepaul commented on #24
What have you tried? Have you tried the example in the readme?

[2016-03-29 17:01] Bribin commented on #24
`$Cataloguefile = $request->file('file');
$rand = rand ( 1 , 10000 );
$path = asset('/catalogue/');
CloudConvert::file($Cataloguefile)->convert( $path.$rand.'.jpg');
`
this is my code. i tried same as example .

[2016-03-29 17:04] robbiepaul commented on #24
Hmm, it's not the same as the example. You need to provide a callback url, it says this in the readme.

### Non-blocking conversion using a callback URL

When the conversion might take a long time you could use:

[code]

[2016-03-29 17:09] #24 closed, assigned to nobody

[2016-03-29 17:11] Bribin commented on #24
`$rand = rand ( 1 , 10000 );
 $path = asset('/catalogue/pdf/');
 CloudConvert::file($Cataloguefile)->callback('http://myproject.dev/dashboard/AddCatalogue/save')
                                ->convert( $path.$rand.'.jpg');`

this is callback request
`public function catelogueSave()
   {
    $path = asset('/catalogue/pdf/');
    $rand = rand ( 1 , 10000 );
    CloudConvert::useProcess($_REQUEST[

[2016-03-29 17:13] robbiepaul commented on #24
It won't work with local dev URLs, because the CloudConvert servers need to be able to make a request to it. If you upload it to a live site it will work

[2016-03-29 17:14] Bribin commented on #24
oke. thanks you

[2016-05-17 08:56] chrisbell08 opened #25 "Getting the video thumbnail"
Hey,

Thanks for putting this repo together, saved me a ton of time getting the integration with cloud convert working.

Is it possible to also push the video thumbnail up to s3 with a converted video?

I'm converting an mp4 to webm and have seen in the cloud convert docs you can get the thumbnail, I assume using the withOptions method but not sure how I would then push it up to s3 with the video.

[2016-05-17 11:07] robbiepaul commented on #25
You're right you would use `withOptions` but to be honest I'm not 100% sure what the format of the values are, my guess would be:

[code]

If that doesn't work my advice would be to fire off an email to support@cloudconvert.com. They're extremely helpful.

Let me know how you get on.

[2016-05-17 13:05] chrisbell08 commented on #25
That worked perfect. It creates a new folder on s3 and adds in the video with a thumbnail. Thanks!

[2016-05-17 13:05] #25 closed, assigned to nobody

[2016-05-19 06:27] chrisbell08 opened #26 "accessing the process id"
Hey,

I need to access the process ID when I make a request so I can save it to a DB and do some stuff with it when the callback comes back from cloud convert. The only way I can do this is by changing the $process property on the cloud convert class to public then doing this:

[code]

The only issue with this is that i've had to override something in your core library which isn't ideal as I would

[2016-05-19 14:18] robbiepaul commented on #26
This should work:

[code]

[2016-05-19 15:49] chrisbell08 commented on #26
Works a treat thanks!

[2016-05-19 15:49] #26 closed, assigned to nobody

[2016-05-19 16:34] robbiepaul commented on #26
Glad to help!

[2016-05-19 22:12] chrisbell08 opened #27 "Moving to S3 with Callback API"
Hey,

I've having some trouble getting the library working when trying to add the s3 options to the output array along with the a callback url.

This way throws an error saying process already started but cloud convert still uploads the files to S3 and makes the callback to the URL (So it does actually work but crashes my code with the errror).

[code]

The only way I can get the process to start

[2016-05-19 22:56] robbiepaul commented on #27
Hi Chris,

Yeah if you're using a callback url then you use `convert` instead of `to` as the latter will actually attempt to save the converted file in the same process.

What's the exact error message you receive? Have you tried the same options on CloudConvert's API Console?

[2016-05-20 07:21] chrisbell08 commented on #27
Hi,

Really appreciate the help!

I had a play around with the console and looked through the Cloud Convert docs but from what I can tell you should pass the S3 details in the initial request along with the callback url it's all under Output parameters but I can't find a way to do this in this library.

I think to get it to work it needs a way of passing in the S3 method to the initial request wit

[2016-05-20 07:27] chrisbell08 commented on #27
Maybe a withOutput method would be handy where you could provide custom paramaters for the output array

[2016-05-20 11:07] robbiepaul commented on #27
Hi Chris,

You should be able to use `withOptions` with `callback`

Can you paste the error message your receiving?

[2016-05-20 11:10] robbiepaul commented on #27
Also if you could post both parts of the code you're using that would help in debugging it. The part where you start the process with callback plus the code in the callback script.

Thanks

[2016-05-20 11:47] chrisbell08 commented on #27
Is it easier for me to show what i'm trying to do? I may just be doing it wrong. This is the output i'm trying to create:

[code]

[2016-05-20 12:01] robbiepaul commented on #27
That's perfect, here's the code you need to create that:

[code]

And if you want to put the converted file in a different bucket or region to the one in your config file:

[code]

[2016-05-20 14:49] chrisbell08 commented on #27
Perfect! My issue was I was passing the file type into the convert method as a string (I think it's like that in one of the examples). Didn't no you could pass S3 stuff in there.

Works perfect now thanks!

[2016-05-20 14:49] #27 closed, assigned to nobody

[2016-05-20 17:06] robbiepaul commented on #27
Yea I think I'll add a more detailed use case like this as an example in the readme.

Glad it works

[2016-05-20 19:53] chrisbell08 commented on #27
yeah I think people will find that useful.

[2016-05-27 09:58] rgozdzialski opened #28 "Non-blocking conversion using a callback URL - file not downloaded"
I'm following the implementation provided **[here](https://github.com/robbiepaul/cloudconvert-laravel#non-blocking-conversion-using-a-callback-url)**. To test it, I call `/convert` URL on my server. The robots.txt file is being converted correctly, **but is not stored** back on the server as PDF using the callback function.

The code:

[code]

then

[code]

Both /convert and  /convert-save are pub

[2016-05-27 11:18] robbiepaul commented on #28
I just tested it, it works.

Make sure `/convert-save` is a POST route and you have CSRF disabled for that route, see the Laravel docs: https://laravel.com/docs/master/routing#csrf-excluding-uris

[2016-05-27 11:58] rgozdzialski commented on #28
I did both of the things and retested - no luck. What confuses me a bit is that you suggest to change the callback route to POST, while the API docs **[specifies](https://cloudconvert.com/api/conversions#callback)** they will do a GET to the callback URL.

Anyway, it works for you, so it has to be something environment specific. I would say, if you don't have more ideas, let's close the issue.

Bt

[2016-05-27 12:12] robbiepaul commented on #28
You're right it is a GET route, I was looking at the hooks section of the API. The callback still works for me though.

Here's my code:

[code]

[2016-05-27 12:14] #28 closed, assigned to nobody

[2016-06-03 15:34] bachras opened #29 "video thumbnail not generated with command"
Hi,

I am trying to create a thumbnail. It works perfectly fine until I add command(), then video is created but folder and image is not created. Do you know how to resolve this issue? Maybe I am doing something wrong, or it is expected behaviour?

Here is my code:

[code]

Any help would be highly appreciated. Thanks

[2016-06-06 11:04] robbiepaul commented on #29
@bachras I think this is probably because CloudConvert uses it's own `command` to create the thumbnail. Can you complete the task using the [CloudConvert API console](https://cloudconvert.com/api/console)? Does it work then?

[2016-06-07 07:28] bachras commented on #29
@robbiepaul I just tried on CloudConvert API console and it is the same behaviour. I tried to make a thunbnail using command as well but conversion fails due to mp4 to png conversion. Do you have any suggestion?

I have also another questions. Is there is a way to convert  file to to three different formats using same process. At the minute main code looks like this:

[code]

Thank you

[2016-06-07 09:03] josiasmontag commented on #29
@bachras

If you use the `command` option, all other options (including the thumbnail options) are ignored. Because of this you need to start 2 conversions: One for the actual video conversion (with your command) and one for creating the thumbnail.

In general a CloudConvert Processes is strictly for converting one file, so you cannot create multiple resolutions with just one process. Please have

[2016-06-09 13:33] bachras commented on #29
@josiasmontag Thanks for clarifying that.

[2016-06-09 13:33] #29 closed, assigned to nobody

[2016-06-11 19:25] hermanschutte opened #30 "Creating video thumbnail without converting"
Is it possible to use this wrapper to create a thumbnail from a video that's already stored on S3? I'm looking at the API docs of CloudConvert, and it seems possible to do it using the normal PHP library, but it seems this wrapper expects an output to be given.

[2016-06-11 19:39] robbiepaul commented on #30
If it exists in the API I'm sure I can provide an interface for it. Could you link me to the API docs where it shows how to do it?

[2016-06-11 19:41] hermanschutte commented on #30
Thanks! It's here: https://cloudconvert.com/api/videoconversion. In part 1 they deal with just getting the file info and generating the thumbnails.

[2016-06-11 19:52] robbiepaul commented on #30
Ah yes, thanks! It seems the `info` mode is a new API feature. I'll look at introducing it in the next update.

[2016-06-11 19:53] hermanschutte commented on #30
Perfect, thanks.

[2016-06-19 05:33] AmirAmin opened #31 "How can i get the Process ID directly"
Hello,

Right now i would like to run a conversion command and return the process id to store it in the database, to compare it in the callback to get the download url for the process in case i am running more than one conversion.

Regards,

[2016-06-19 05:37] AmirAmin commented on #31
For ex. how can i get the process id of the following conversion command :

CloudConvert::file('xyz.mp3')
            ->callback('http://myserver.com/save_file.php')
            ->convert('wav');

[2016-06-19 11:28] josiasmontag commented on #31
Hello, please have a look at #26.

[2016-06-19 20:44] AmirAmin commented on #31
Worked Perfect,

I played around it by getting the list of the processes, Convert it into Collective, and select last element which is the recent converted as per the following:

$processes = collect(CloudConvert::processes());
$processId = $processes[count($processes) - 1]->id;

Thanks a lot bro.

[2016-06-19 20:44] #31 closed, assigned to nobody

[2016-06-20 00:05] robbiepaul commented on #31
Thanks @josiasmontag

@AmirAmin Good stuff. `CloudConvert::processes()` already returns as `Illuminate\Support\Collection`. So you could simplify your code to:

[code]

See the Laravel docs: https://laravel.com/docs/master/collections#method-last

[2016-06-20 05:06] AmirAmin opened #32 "Converting PDF into JPG : Multiple output files"
Hello,

Right now converting from PDF to JPG creates Multiple output files.

So, Is there a method to deal with output.files instead of downloading the zip file?

https://cloudconvert.com/api/conversions#snippetDownloadMultipleRaw

Regards,

[2016-06-20 07:49] AmirAmin commented on #32
Hello,

I discovered that "CloudConvert::useProcess" is already saving each image separately.

Thanks

[2016-06-20 07:49] #32 closed, assigned to nobody

[2016-06-20 07:53] robbiepaul commented on #32
@AmirAmin Yes that's correct. The wrapper downloads the individual files, it doesn't download a zip file.

[2016-06-20 08:13] AmirAmin commented on #32
@robbiepaul You guys did a really great job, Two more small questions please :

1) Right now i am using the following to convert PDF into JPG and upload the images to S3,

[code]

But it is giving me error, as it requires to mention .jpg at the end of the parameter, and if i do that, it created a folder with the name ".jpg" and put the pictures inside it.

Do you have an idea of how to fix this is

[2016-06-20 08:58] robbiepaul commented on #32
@AmirAmin
1) I haven't tested it, but this should be possible

[code]

2) The CloudConvert API allows for quite a few 'converter options' when starting a process. Check out the [API Console](https://cloudconvert.com/api/console) for more info. For example you could do:

[code]

Alternatively if you want even more control over editing the images you could use a package like [Intervention Image](htt

[2016-06-20 09:45] AmirAmin commented on #32
@robbiepaul

1) The solution for the path didn't work, it is giving "Invalid format" error. The same error as before, you have to add a file name at the end of the 'path' including the ext. for ex: 'path' => 'uploads/catalogue/issue/1.jpg' to make it work, and unfortunately it creates a folder with this name '1.jpg' and store the images inside it.

2) Resize option is working perfect.

Regards,

[2016-06-20 13:31] robbiepaul commented on #32
@AmirAmin I've pushed a fix to allow custom paths (see: d871d75e4358f06cb9e2a9034efe797b3b7f429c)

Just run `composer update robbiep/cloudconvert-laravel` and the following code should work:

[code]

[2016-06-21 05:33] AmirAmin commented on #32
It is working perfect, Thanks Bro

[2016-06-21 09:42] AmirAmin opened #33 "How to enable CacheControl while uploading to Amazon S3"
Hello,

I have two questions:

1) How can i enable CacheControl while uploading to Amazon S3? as it saves a lot of money on the long run.

2) Does CloudConvert have watermark feature ? for example if i want to add a watermark or website name on the converted images.

Best Regards,
Amir Amin

[2016-06-21 10:15] josiasmontag commented on #33
1) It is supported by CloudConvert itself, but I am not sure if the laravel wrapper has this functionality yet. See https://cloudconvert.com/api/s3 (output.s3.cachecontrol)
2) Watermarking is currently not supported by CloudConvert.

[2016-06-21 11:21] robbiepaul commented on #33
Yeah you can just add it to the list of output arguments, if we use the same example from yesterday it would be:

[code]

For watermarking perhaps use the [Intervention Image](http://image.intervention.io/) package in conjunction with Laravel's cloud storage file system (see the [docs](https://laravel.com/docs/master/filesystem))

[2016-06-21 17:50] AmirAmin commented on #33
Thanks Brothers,

@robbiepaul It worked perfect, But it has to be 'CacheControl' not 'cachecontrol' as the lowercase will return the following error message:
`"Saving to S3 failed: Unexpected key 'cachecontrol' found in params (Code: UnexpectedParameter)"`

I will check Intervention Image package for the watermark.

Thanks again

[2016-06-21 18:12] robbiepaul commented on #33
Glad it worked!

[2016-06-21 18:12] #33 closed, assigned to nobody

[2016-07-17 13:12] digxtal16 opened #34 "encoding"
Hello!
How to set the encoding?
I use:
$variables = ['template' => 'шаблон_1 kjf'];
CloudConvert::file(public_path().'/files/otch.docx')->templating($variables)->to('pdf');
and get http://clip2net.com/s/3AhDTAc
I tried "mb_convert_encoding", "iconv" but this not helped me.

[2016-07-17 13:17] robbiepaul commented on #34
Hmm not sure. I'm not at my computer today so I can't check. Have you tried the same thing using the [CloudConvert API Console](https://cloudconvert.com/api/console)? Does it work there?

[2016-07-17 14:40] digxtal16 commented on #34
Did not work out

[2016-07-17 15:18] robbiepaul commented on #34
I suggest emailing support@cloudconvert.com

They're always helpful with API issues.

[2016-07-19 18:00] #34 closed, assigned to nobody

[2016-07-27 10:37] bachras commented on #30
That's exactly what I am looking for as well. Looking forward to next update. Thanks

[2016-07-28 13:14] robbiepaul commented on #30
Ive actually implemented this already, just haven't committed/tagged it. I'll get it done this evening and let you guys know when it's released.

[2016-07-28 13:19] bachras commented on #30
Thank you, I can't wait to try it.

[2016-08-02 13:27] rgozdzialski opened #36 "Call to a member function getFormat() on null, after a commit from 20. June 2016"
Hi,

We've been having problems with `conversionTypes()` method. We used it like this:

`$types = CloudConvert::input('jpg')->conversionTypes();`

and it worked fine. After `composer update` we get a **[fatal error](http://i.imgur.com/clSbBgY.jpg)**. Basically, `CloudConvert->getOutputFormat()` suddenly fails.

Took us a while to understand what is going on, because for some of the team members th

[2016-08-02 15:21] robbiepaul commented on #36
Thanks for reporting this, I'll have a look in to it

[2016-08-09 15:30] bachras commented on #30
Hi @robbiepaul , just wondering when will I be able to try out new feature of video thumbnail? Thank you

[2016-08-09 22:16] robbiepaul commented on #30
I've added support for `info` mode, with creating thumbnails. I'll add the other new modes once I get a chance. It's tagged as `v2.3` here fb2ef11f7239738386e22950fccf5bd89ef3cd21

Example usage:

[code]

[2016-08-09 22:17] robbiepaul commented on #36
I've reverted this back to it's original function in `v2.3`

[2016-08-10 09:12] bachras commented on #30
@robbiepaul Thank you for quick response and amazing upgrade. It is saving properly on the server, but how can I save it on S3 bucket? And is it possible to do callback for thumbnail in the same way as video callback. Thanks

[2016-08-10 10:17] robbiepaul commented on #30
I don't think it's possible as you don't set the `output` params when making the request to create the thumbnail. Maybe @josiasmontag can confirm?

The not so elegant solution would be to use Laravel's Filesystem to store the thumnail on S3.

[2016-08-10 10:34] josiasmontag commented on #30
@robbiepaul You actually can. The `output` param does work for `info` mode also and does store the generated thumbnails on the output storage.

[2016-08-10 10:42] bachras commented on #30
@josiasmontag I have just tried to create thumbnail on https://cloudconvert.com/page/apivideoconversion but it shows the error. Could you please update me on this?

[2016-08-10 10:46] josiasmontag commented on #30
@bachras The used video URL (https://cloudconvert.com/assets...) of the example is broken, otherwise the example works. We will fix that, thanks.

[2016-08-10 11:19] robbiepaul commented on #30
@josiasmontag awesome thanks

@bachras in which case this should work, unfortunately I can't test it myself until this evening

[code]

[2016-08-10 11:46] bachras commented on #30
@robbiepaul I would be grateful if you could check saving on S3 in the evening as above code returns me an error. Could you also check create thumbnail from uploaded file as this code:

[code]

returns this error:

[code]

Many thanks

[2016-08-10 14:37] robbiepaul commented on #30
Yeah will do

[2016-08-15 07:48] bachras commented on #30
Hi @robbiepaul, Did you have a chance to look at those errors?

[2016-08-16 06:36] jAddict7 opened #37 "Multiple File Download to specific folder"
Hi Team,
Thanks for the excellent plugin. Am trying to convert PDF to JPG where multiple images are converted and received. I just need to know how to save all the files to a specific folder, My code
`CloudConvert::file('http://test.com/Test.pdf')->to('jpg');`

Also I tried,
`CloudConvert::file('http://test.com/Test.pdf')->to('jpg', ['path' => $filePath]);`

Everything saves in public folder and u

[2016-08-18 13:16] #36 closed, assigned to nobody

[2016-08-18 13:23] robbiepaul commented on #37
I would suggest:

[code]

Or this should save it in a folder called `test.jpg`

[code]

[2016-08-18 13:59] jAddict7 commented on #37
Thanks for your reply Paul, I have tried this code
`CloudConvert::make('http://example.com/test.pdf', 'pdf', 'jpg')->save('/icons/');`
and got the following error,
`Output format provided does not match the format converted`

And also Input may be anything like Doc, Excel, PDF, so specifying as parameter is not option for me I think so brother. PDF with 144 pages or Excel with 100 pages may be giv

[2016-08-18 14:07] robbiepaul commented on #37
Yea, my plan is to rewrite this wrapper for `v3.0` and use the excellent official CloudConvert PHP package as the core, however it's probably a few months away yet as I have a lot of stuff going on at the moment.

Did you try:

[code]

?

[2016-08-18 14:11] jAddict7 commented on #37
Yeah thats great to hear. Yes, tried that but got
`File not writable or no data available: /icons/test.jpg`
And hope that will provide single.

[2016-08-18 14:15] robbiepaul commented on #37
Does the '/icons/' folder exist?

[2016-08-18 14:18] robbiepaul commented on #37
I only ask because I've used this code on a previous project when converting multiple page PowerPoints to image files:

[code]

I remember I had to explicitly make sure `$slideshowPath` existed first. eg:

[code]

[2016-08-18 14:21] robbiepaul opened #38 "Rewrite this wrapper and base the core on the official CloudConvert PHP package"
- Maintain all public methods to ensure backwards compatibility
- Start from scratch

[2016-08-18 14:23] robbiepaul commented on #30
Not yet my friend, I may have to tag this for `v3.0` as alot of the code needs refactoring/rewriting because the API has moved on a bit since I first wrote this wrapper in 2014

[2016-08-18 14:26] bachras commented on #30
Thanks for reply, When could I expect v3.0? Many thanks

[2016-08-18 14:58] jAddict7 commented on #37
Yes the folder is present

On Aug 18, 2016 7:48 PM, "Robbie Paul" notifications@github.com wrote:

[2016-08-18 15:41] robbiepaul commented on #37
Strange, I just checked the project I mentioned in the example above and it's still creating all the images correctly in a sub-directory. Are you sure you have write access on the folder?

[2016-08-18 15:42] robbiepaul commented on #30
It's hard to put a definite timescale on it, I'm very busy at the moment. I'll make a start on it soon, then open it up to pull requests if people want to contribute

[2016-10-26 08:09] animaa123 opened #40 "utf8_encode template converting"
When you try to convert a docx to a pdf using the templating method, there is a problem with accents.

I found the line that cause the problem :

File : `\RobbieP\CloudConvertLaravel\HttpClientAdapter\Guzzle6Adapter`
Method : `castContents`
line: `188`

Simply by removing the `utf8_encode`, it works

I'm wondering why it need to be encoded in uft8, and if by removing the part of code it will not c

[2016-11-03 22:14] JonoHall opened #41 "Class 'App\Http\Controllers\CloudConvert' not found"
I found your instructions great, got it installed, but came up with this error.

It took me a day or so trying to figure it out before consulting the gurus on IRC. I'm quite new to Laravel, so it didn't occur to me that you need to add the class to your controller before you can use it (now it seems obvious).

For anyone else trying to solve this, you need to add the following to the top of your p

[2016-11-08 13:48] #37 closed, assigned to nobody

[2016-11-18 15:36] chrisbell08 commented on #30
Hey Guys,

Has this been looked at yet? I can get the file as a download just struggling to move it to S3, as mentioned above the cloud convert support do say this is possible through there own API.

If not I can go ahead an download the file then push up to s3 with Flysystem just trying to avoid that if poss as it's a little messy

Cheers
Chris

[2016-11-22 07:45] AmirAmin opened #43 "Creating Pictures Thumbnails"
Hello,

Right now, I am using this package to convert PDF to JPGs, and it is doing a wonderful job.

My Question is: Is there a option to create Tumbs/Thumbnails from the pictures as well?, so the callback for ex. would return the normal image, and its thumbnail.

Note: I need this function as i am creating flipping book from the returned images, and i want the thumbnails for the TOC.

Regards,
Am

[2016-11-29 14:52] reinierkors commented on #41
Or you can add it to your **app.php aliases**:
`'CloudConvert' => RobbieP\CloudConvertLaravel\Facades\CloudConvert::class,`

and then just do:
`use CloudConvert;`

[2016-11-29 15:18] reinierkors opened #44 "File does not get converted (?)"
I'm trying to convert .flv to .mp4.

When uploading:
`CloudConvert::file($file)->to(CloudConvert::S3($id.'.mp4'));`

Everything seems to work fine, but when I download and open the generated file it seems to be in flv format still 😕.

When manually converting it on the site itself, I get the correct video in flv format.

Any guidance would be appreciated.

[2016-11-30 12:46] robbiepaul commented on #44
This is strange, I was testing Amazon S3 video conversion only a few months ago.

I'll have a look in to it.

[2016-11-30 12:48] robbiepaul commented on #43
As far as I'm aware the thumbnail option is only available when converting videos.

You could create a separate process to create a thumbnail from the first page of the PDF?

[2016-11-30 12:49] robbiepaul commented on #41
Thanks @reinierkors

The ServiceProvider should also automatically register the facade

[2016-11-30 12:49] #41 closed, assigned to nobody

[2016-11-30 18:50] reinierkors commented on #44
Alright,

After some testing I found the issue on my side. Also, maybe change the config file to 'key' and 'secret' for Amazon S3 like filesystems does.

Cheers.

[2016-12-01 12:37] #44 closed, assigned to nobody

[2016-12-01 12:37] #43 closed, assigned to nobody

[2016-12-01 16:19] AmirAmin commented on #43
Yes, I know that the thumbnails can be created when converting videos, but i though there may be for pdf as well.

I also thought about creating another process to create thumbnails, but it is a matter of cost and time to complete both processes specially while converting large files.

Thanks a lot bro.

[2016-12-27 06:39] dandyfirmansyah18 opened #45 "Error when converting docx to pdf"
When i converting my document from docx to pdf. i have this error  'cURL error 7: Failed to connect to api.cloudconvert.com port 443: Connection refused (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)'

What should I do ?
Sorry i am bad in English

Thanks
Dandy F

[2016-12-27 15:03] josiasmontag commented on #45
Seems to be a network issue. Firewall? This issue is not related to the Laravel wrapper. For further investigation please contact us directly via support@cloudconvert.com.

[2016-12-28 08:26] dandyfirmansyah18 commented on #45
oke oke thanks

On 27 December 2016 at 22:03, Josias Montag <notifications@github.com>
wrote:

[2016-12-28 08:29] #45 closed, assigned to nobody

[2016-12-30 14:33] rizwanmcs opened #46 "How i will set video resolution of new video output file"
Hi guys,
i want to convert video file .mov to mp4 but i don't know how i will set the resolution and buffer size for output file.
Thanks
`CloudConvert::file('/public/uploads/gdtbgds125846.mov')->to('/public/convert/gdtbgds125846.mp4');`

[2017-01-16 11:18] rizwanmcs commented on #30
Hi Guys!
i am new to laravel and i have implemented the cloud converter library on laravel 4.2 version but when i convert my video to gif file on localhost then i face this issue.
`cURL error 60: SSL certificate problem: unable to get local issuer certificate`
.
can anyone help me about this issue that how i can solve this problem?
Thanks

[2017-01-16 13:07] robbiepaul commented on #46
You need to use `withOptions` there's documentation in the readme. Also check the official API docs for all the available converter options: https://cloudconvert.com/api/console

[2017-01-16 13:07] #46 closed, assigned to nobody

[2017-01-16 13:09] robbiepaul commented on #30
It could be a firewall issue.

The SSL certificate is fine for CloudConvert domains, even `api.cloudconvert.org` which the 4.2 version uses for calls

Is there a reason you're still using Laravel 4.2? Version 5 has been out for almost 2 years - it's worth upgrading

[2017-01-22 09:51] AmirAmin opened #47 "Get file information"
Hello,

There is a method to extract file metadata from PDF, image, video and audio files, is it included in this package? and how to use it.

For more details about it, kindly check the following link:
https://cloudconvert.com/api/info

Regards,

[2017-01-22 17:22] robbiepaul commented on #47
Hi Amir,

This functionality exists in the Laravel wrapper. I haven't had a chance to update the README file yet (feel free to make a PR)

This example code should work though:

[code]

[2017-01-23 07:28] AmirAmin commented on #47
Dear Robb,

Thanks for your wonderful efforts.
Can you please double check it ? as i have tried it with different links, servers, and it keep giving timeout.

Regards,,

[2017-01-23 18:51] robbiepaul commented on #47
I've issued a hotfix, please do a `composer update`

[2017-01-24 06:16] AmirAmin commented on #47
Wonderful, it works like a charm.

Tnx Bro.

[2017-01-24 06:16] #47 closed, assigned to nobody

[2017-01-26 18:09] nomadme opened #48 "Symfony UploadedFile"
Thank you for the package.

How can I convert file using Symfony Uploaded file as an input and saving it somewhere else?

`app('cloudconvert')->file($uploadedFile)->to('pdf', true)->save(storage_path())`

[2017-02-06 10:45] ajarti opened #49 "Laravel 5.4 Compatibility"
HI there,

Looks like you might need to update all the old Share references to Singleton for compatability.

As per: https://github.com/laravel/framework/commit/1a1969b6e6f793c3b2a479362641487ee9cbf736

No time to pull req at the mo :(

[2017-02-06 14:50] robbiepaul commented on #48
Please see the example in the README for using uploaded file

[code]

[2017-02-06 14:50] #48 closed, assigned to nobody

[2017-02-06 14:51] robbiepaul commented on #49
Thanks for letting me know.

I've pushed up a patch that should fix this: 5671a435ecda5797ac108d7c97a6ebc3985729e7

Please run `composer update robbiep/cloudconvert-laravel`

[2017-02-06 22:39] #49 closed, assigned to nobody

[2017-02-07 09:08] ajarti commented on #49
@robbiepaul that is excellent and super fast fix!! ..

Thanks.

[2017-03-02 04:45] fusigabs opened #50 ""Could not be converted""
Hi, thanks for this repo...really helpful. I implemented it and it works great for images, and pushes them to s3 just fine. But when I try any vide, I get "Could not be converted". Anyone had this issue before and any ideas what caused it?
[code]

This works well for images, both saving to a local folder and to s3, but I get this "Count not be converted" message for videos. My test video is 1minut

[2017-03-02 12:46] josiasmontag commented on #50
This issue seems to be related to the input file / CloudConvert directly and not the Laravel wrapper. Can you convert the same file on the CloudConvert website directly? If not, please contact us at support@cloudconvert.com and provide the example file.

[2017-03-02 15:28] fusigabs commented on #50
The issue was really with my server. I checked my Apache logs and realized the `max_post_size` needed to be increased in php.ini. Same file works on cloudconvert website, so will look at what more I need to get my server accepting these large post requests. Thanks @josiasmontag

[2017-03-02 17:33] fusigabs opened #51 "Webhooks available?"

[2017-03-03 10:48] josiasmontag commented on #51
Yes, webhooks are available. See here: https://cloudconvert.com/api/hooks

[2017-03-13 14:12] #50 closed, assigned to nobody

[2017-03-13 14:12] #51 closed, assigned to nobody

[2017-03-16 14:45] ghost opened #52 "Queue and saving to S3"
Hi, cheers for making this!

I'm having a problem getting queues to work with Amazon S3. When I do this:

`CloudConvert::file(asset(Storage::url($path)))->queue('to', CloudConvert::S3($thumb_full_name));`

I get back this error: {"error":"This conversiontype is not supported! (pdf to AKIAJTZQLLWBR2GD72OQ)","code":400}

If I change the file name from the variable to test.jpg I still get that error.

[2017-03-16 15:19] ghost commented on #52
Without using queue I get this error when using S3. Must be related I guess.

 `Saving to S3 failed: Unexpected key 'outputformat' found in params (Code: UnexpectedParameter)`

[2017-03-16 15:41] robbiepaul commented on #52
The queue method shouldn't really be combined with saving to S3 as saving to S3 is a non-blocking process anyway.

Did you try:
[code]

Can you confirm what the values of `asset(Storage::url($path))` and `$thumb_full_name` are?

[2017-03-16 15:51] ghost commented on #52
@robbiepaul I changed that to use $request->file now instead but am still getting that outputformat error.

[2017-03-16 16:34] ghost commented on #52
Sorry so now I'm using:

`CloudConvert::file(Storage::url($path))->to(CloudConvert::S3('test.jpg'));`

Maybe it's because I'm using S3 for my storage already?

[2017-03-16 17:19] robbiepaul commented on #52
It should work if the URL is publicly viewable. The CloudConvert API will simply download the asset from your S3 bucket and convert it.

Not sure why it's saying `outputformat` is an unexpected key, it's on the [docs](https://cloudconvert.com/api/s3) and it's been working previously. I'll run some tests tonight

[2017-03-16 17:23] ghost commented on #52
@robbiepaul Thanks! Very confused too. I'm able to upload to S3 normally through laravel so I think the credentials are okay and cloudconvert works grand when I store the files on the local disk.

The only thing I can think it might be is the ACL value, I've left it blank but it's an optional parameter.

[2017-03-20 09:42] ghost commented on #52
@robbiepaul Did you manage to get a chance to look at this? I sent cloudconvert the error report last week but not sure if they'll get back to me.

Cheers!

[2017-03-20 12:59] josiasmontag commented on #52
I had a look into your error report @LindenWalsh. The problem is that the laravel wrapper is sending the following request to CloudConvert:
[code]

The problem is `output.s3.outputformat`. This key is not allowed here and results in the mentioned error message.

[2017-03-20 13:06] ghost commented on #52
@josiasmontag Thank you!

@robbiepaul I can't see where that's being set in the wrapper.

[2017-03-20 13:39] robbiepaul commented on #52
Thanks @josiasmontag

It seems to be an issue with `get_object_vars` returning protected variables (on this line https://github.com/robbiepaul/cloudconvert-laravel/blob/2.x/src/RobbieP/CloudConvertLaravel/Storage.php#L23).

I can't reproduce the issue locally, however I'm trying it outside Laravel. I'll have another try but with a Laravel project

@LindenWalsh What PHP version/OS are you on?

[2017-03-20 13:42] ghost commented on #52
@robbiepaul Cheers! I'm running
PHP Version 7.1.0. I'm using Valet and I'm running it locally on Yosemite

[2017-03-20 13:44] robbiepaul commented on #52
@LindenWalsh perfect thanks, I'll investigate

[2017-03-20 13:46] ghost commented on #52
@robbiepaul Nice one, thank you!

[2017-03-20 14:29] robbiepaul commented on #52
@LindenWalsh Can I just check how you're starting the conversion?

I just successfully ran:
[code]
On PHP 7.1 using Valet

Can you post your code?

[2017-03-20 14:31] ghost commented on #52
@robbiepaul

[code]

[2017-03-20 14:32] robbiepaul commented on #52
@LindenWalsh and what's the value of `$thumb_full_name` ?

[2017-03-20 14:34] ghost commented on #52
@robbiepaul It was filename--thumb.jpg

I ran your example too and got the same error as before. Looks like there's something weird going on on my end then

[2017-03-20 14:37] robbiepaul commented on #52
it's strange @LindenWalsh. What version of Laravel you on? I can try that

I ran it on a clean Laravel 5.3 install

[2017-03-20 14:39] ghost commented on #52
@robbiepaul I'm using 5.3 as well.

[2017-03-20 14:41] robbiepaul commented on #52
@LindenWalsh strange that I can't reproduce it. I'll submit a patch for what I think it might be, however you'll have to let me know if it works

[2017-03-20 14:41] ghost commented on #52
@robbiepaul Awesome, thanks and will do!

[2017-03-20 14:52] robbiepaul commented on #52
@LindenWalsh I've pushed up a patch in this commit 32af0aa3ee036f47ae6d51838b6685cff2e7d5f3 tagged as `v2.3.3`

Could you run a `composer update robbiep/cloudconvert-laravel`?

[2017-03-20 14:54] ghost commented on #52
@robbiepaul You're a legend, that worked!

[code]

Thank you!

[2017-03-20 15:04] robbiepaul commented on #52
@LindenWalsh No worries, I'm still a little confused why I couldn't recreate the error but hey, it works!

[2017-03-20 15:05] #52 closed, assigned to nobody

[2017-03-20 15:05] ghost commented on #52
@robbiepaul It's a weird one! Thanks again!

[2017-04-11 09:09] brickgale opened #53 "cURL error 60: SSL certificate problem: self signed certificate in certificate chain"
I'm using Laravel5.2, there is already guzzlehttp on vendor folder. I'm not sure why is it giving me SSL certificate problem when I'm still doing it on local. Do we need SSL for calling the api of Cloud Convert?

[2017-04-18 10:42] robbiepaul commented on #53
Sounds like an issue with your local environment. You shouldn't need to touch self signed certificates.

[2017-04-18 11:47] brickgale commented on #53
So basically CloudConvert needs SSL? Thanks. I tried on staging server with SSL, it works fine. I usually just do 'php artisan serve' on local that's why.

[2017-04-19 10:29] brickgale opened #54 "How to get output files after file convert?"
the public function 'getOutput()' doesn't return anything. Is there an accessible function that returns an array of strings of the converted file paths. (I'm not saving it on s3 or ftp)

[2017-04-19 12:57] robbiepaul commented on #54
At the moment no. However I may add a way to grab the output in the next version.

You could just do this:

[code]

Then to grab the file:
[code]

[2017-04-19 12:58] #53 closed, assigned to nobody

[2017-04-20 02:47] brickgale commented on #54
@robbiepaul I am usualy converting doc,ppt, and pdf to '.jpg' or image file. So I'm expecting pages. How do I know how many page a certain file is?

[2017-04-20 06:39] brickgale commented on #54
my workaround is getting all the files on laravel filesystem by `File::files($path)`
then looping through them with 'preg_match' and doing some string manipulations. Hope that there would be a way to get the converted files, atleast by array of filenames.

[2017-04-20 09:39] robbiepaul commented on #54
Yea it's not ideal I know, I've had to do that previously as well. I'm going to leave this open and label it as an enhancement as it's something that needs to be implemented in 3.0

[2017-05-24 11:13] brickgale commented on #53
@robbiepaul you were right, its just a local problem, not CloudConvert. Found my solution in SO. https://stackoverflow.com/questions/29822686/curl-error-60-ssl-certificate-unable-to-get-local-issuer-certificate

Windows 10
XAMPP
Laravel 5.2 (php artisan serve)

[2017-06-22 12:30] chrisbell08 opened #55 "Anyone else having issues? All my apps are timing out when we get the mp4 thumbnail"
CloudConvert::file($this->url)
                ->withOptions([
                    'thumbnail_count' => '1',
                    'thumbnail_size' => '600x315',
                    'thumbnail_format' => 'jpeg',
                ])->info();

The above is just timing out. was working fine until a few days ago and has now broken on two separate apps... Think it may be a cloud convert thing. I'm Investi

[2017-06-22 13:07] robbiepaul commented on #55
If it was working until a few days ago I think it must be. I suggest emailing support@cloudconvert.com

[2017-06-22 13:12] chrisbell08 commented on #55
Think they've updated the API,

If you check this process: http://host123d1qm.cloudconvert.com/process/NfTqIaol4OpBSwuJRHvD

It's just sitting at ready.... So the php package keep checking for complete and never gets it then times out.. I can only assume it didn't used to do this?

[2017-06-22 13:24] robbiepaul commented on #55
There's nothing on twitter or their dev blog about updating the API. I'll do some more investigating tonight.

[2017-06-22 13:29] chrisbell08 commented on #55
OK. Will update if I find anything (Have noticed the "Ready" thing was my fault from fiddling around trying to get it working I had changed the start conversion post request to a get one hence it not starting)

[2017-06-22 13:56] chrisbell08 commented on #55
OK to just update on the exact issue here. The second post request that starts the process is timing out if I dump out the opts (see below) and do the post via postman manually it seems to work..

guzzle6Adapter.php
[code]

[2017-06-22 14:24] chrisbell08 commented on #55
Ok so pretty sure this is a cloud convert issue and I can replicate the issue when manually doing the POST via postman (It's not returning anything from the second post request until it's finished, last one took over 40seconds)

Will close the issue and follow up with CC. :)

[2017-06-22 14:24] #55 closed, assigned to nobody

[2017-06-22 14:38] robbiepaul commented on #55
Thanks @chrisbell08 glad you're getting somewhere. Let me know how you get on just incase someone else runs in to the same issue

[2017-06-22 14:58] chrisbell08 commented on #55
I'm at a bit of a loss with this.... Cloud Convert say the "wait" param means it doesn't send a response back until it's finished so now basically nginx is timing out (My postman request took 40 seconds to receive a response).  My app has been live since last august with no issues so something must have changed somewhere...

[2017-06-30 07:00] ImmanuelJL commented on #53
@brickgale hi i face the same problem and it solved also on local with your link to stackoverflow. My question is, is it a must to have SSL on my live server??? or i can convert it without ssl???

[2017-06-30 08:24] brickgale commented on #53
@ImmanuelJL i think it won't mind if you have SSL on live if it's running on a linux server usually. This is just basically because of my local dev environment running on xampp.

[2017-07-01 06:10] ImmanuelJL commented on #53
@brickgale oh i see, thanks brooo

[2017-07-15 07:18] chantrea opened #56 "if using Laravel"
I tried to convert any videos from users upload to mp4.
1.) Is that mp4 always take care the best conversion bit rate and small size and will that video support all browsers like safari, IE, Chrome, Firefox, Opera, etc...

in my code
CloudConvert::file($uploadedFile->getRealPath())->quality(70)->to(CloudConvert::S3('users/videos/'.$timestamp.".mp4"));

Error I got
Non-static method RobbieP\CloudCo

[2017-07-17 17:05] robbiepaul commented on #56
do you have `use RobbieP\CloudConvertLaravel\CloudConvert` that the top of your class?

You should be using the facade instead

[2017-08-15 09:40] #56 closed, assigned to nobody

[2017-09-11 09:03] johnef opened #57 "convert PDF and store it on database"
Hi I came here across a long search after my requests.
I am using Laravel 5.2

What I am looking for is.
I have one PDF file witch is 50 page.
I need to convert all to two types of images
type one
skip the first image, and start from the second
and combined it with the third, and so on combing 4-5 and 6-7, 8-9 ....
then store them into my database.

type two just convert the PDF to images and stor

[2018-03-01 11:24] AmirAmin commented on #43
Hello Again,

After more than a year, Is there a solution for this now?

[2018-03-02 09:52] robbiepaul commented on #57
Yes it can help

[2018-03-02 09:52] #57 closed, assigned to nobody

[2018-04-19 09:19] bharatvaggu opened #59 "How to integrate with Lumen Framework."
Hi

Is it possible to integrate this library with Lumen framework?. If yes, can you please provide steps?.

Thanks

[2018-09-21 07:28] marco-pace opened #60 "getaddrinfo ENOTFOUND api.cloudconvert.local"
Hi!

Everything always worked fine, but today, while I'm trying to convert a PDF file to word, I got this 500 error:

Checking cloudconvert dashboard I see this:

![schermata 2018-09-21 alle 09 26 43](https://user-images.githubusercontent.com/463331/45866274-846d0180-bd80-11e8-9261-dc1b6efecc31.png)

What could be?

[2018-09-21 08:57] marco-pace commented on #60
It was a CloudConvert API issues. Marked as closed

[2018-09-21 08:57] #60 closed, assigned to nobody

[2018-11-29 13:27] Tamrael opened #61 "Release autodiscover"
Please build a new release so we can get autodiscover actually working via composer without having to pull master

[2018-12-26 02:36] lucaswiix commented on #30
I am with the same error of rizwanmcs in laravel 5.5.
And the api url is https://api.cloudconvert.com/.

[2019-02-14 22:48] christianahvilla commented on #56
Hi, I have the same problem. Did you resolve the issue already?

[2019-02-24 23:14] YCMitch opened #62 "CloudConvert is returning from S3 before upload is even complete."
Or perhaps I'm expecting the conversion to be synchronous, and it's not?

I've got the below code, which successfully converts a file and uploads it to S3. However, $thumbUrl is returning a URL before the upload is complete, meaning my returned image thumbnail 404s.

Is this intended behaviour? If so, is there a way to have it run synchronously? This whole process is already on a queue, so it's pr

[2019-03-16 17:13] YuriZhizhka opened #63 "Original file name..."
Good day colleagues. I use the call-back mechanism to get the result. Is it possible to get the original name of the file that was sent for conversion? Thank.

[2019-03-18 20:52] YuriZhizhka commented on #63
Before saving the finished file, I needed to know its name before the conversion, I did this:
$name = CloudConvert::useProcess($_REQUEST['url'])->getProcess()->input->name
than CloudConvert::useProcess($_REQUEST['url'])->save();

[2019-03-19 16:14] #63 closed, assigned to nobody

[2019-06-21 00:31] DaleCollins opened #64 "API V2 and sandbox"
Hi,
First up, thanks for the Laravel wrapper.
I was wondering how you setup to use API v2 so i can use the sandbox, i can only seem to get this to work with API V1. The project is on Laravel 5.4
Is it possible? I'm burning through my minutes.

Edit: oops, just realised API V2 is still in preview. Never mind

Thanks

[2019-06-21 09:24] josiasmontag commented on #64
Correct, v2 is still in preview. We are working on this Laravel package for v2: https://github.com/cloudconvert/cloudconvert-laravel (WIP)

[2019-06-21 09:57] robbiepaul commented on #64
@josiasmontag Nice! Let me know when it's ready and I'll sunset this package to point people to that one

[2019-07-11 10:23] riazXrazor opened #65 "Error in CloudConvert::merge"
I'm using the code below
[code]

Error response
[code]

[2019-07-11 11:02] riazXrazor commented on #65
got it array format should be
[code]

[2019-07-11 11:02] #65 closed, assigned to nobody

[2019-07-13 16:09] itsdakmar commented on #54
have anyone found the solution for this?.
please help me, how do i get converted file name after queued jobs?

[2019-10-11 09:31] anilkumar219 opened #66 "Not working for Laravel 6.x"
This package isn't working for Laravel 6.x

[2019-11-27 11:35] lillybak opened #69 "pdf to jpg does not work"
Trying to convert pdf document to jpg but I get back only empty files regardless of all combination of settings. I have managed to convert pdf to png using dpi only (no resizing) but for jpg the same method (and other methods) does not work. I also tried the default setting and that did not work either. I am using mac pro.
Would you please help?

[2020-01-07 11:44] piep14 commented on #66
@robbiepaul  Can you support Laravel 6 ? Thank you.

[2020-01-15 11:58] MuhammedTNCR commented on #56
Hi @robbiepaul i did what you said with use statement but i am still getting the same error. Any help?

[2020-01-16 18:54] darcyrailip commented on #66
@robbiepaul Following up on this. Thanks.

[2020-01-16 21:05] robbiepaul commented on #66
Apologies for the slow response on this, I don't use PHP any more and don't have much time to support this package.

I have released `v3.0` that should support Laravel 6.x however I suggest using the [official CloudConvert Laravel package](https://github.com/cloudconvert/cloudconvert-laravel)

[2020-05-19 19:28] #66 closed, assigned to nobody

[2020-09-04 07:59] itsdeo opened #70 "php artisan vendor:publish is showing error"
Hi There,

I followed below steps and getting error on third steps.
1. "robbiep/cloudconvert-laravel": "2.*" adding into composer.json
2. added RobbieP\CloudConvertLaravel\CloudConvertLaravelServiceProvider::class in providers array into config/app.php
3. php artisan vendor:publish
While trying to run 3rd step I am getting below error.

php artisan vendor:publish
In ExceptionHandler.php line 55:
I

[2020-09-05 00:19] Jagdishsinghrawat commented on #70
When you update your composer in laravel its perfectly install or not -
check this

On Fri, Sep 4, 2020 at 1:29 PM itsdeo <notifications@github.com> wrote:

--
*Thanks & Regards*
Jagdish Singh Rawat
Ph : +91-7906867366
New Delhi

[2020-09-08 06:39] itsdeo commented on #70
Yes composer install is successfully done.
1st step is to add in composer.json
"require": {
   "robbiep/cloudconvert-laravel": "2.*"
}
2nd step is Run composer install
and 3rd step is
Next you need to add the service provider to config/app.php

'providers' => array(
    ...
    RobbieP\CloudConvertLaravel\CloudConvertLaravelServiceProvider::class
)

I got issue in the 4th step
php artisan vendor:p

[2021-06-23 02:58] naufaldwimln commented on #69
if u want change pdf to jpg, u can use **Ghostscript** on ur server